{% extends "base.html" %}
{% load static %}
	{% block title %}CART{% endblock title %}
	{% block extra_css_script %}<link rel="stylesheet" type="text/css" href="{% static 'styles/css/style-cart.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,900" rel="stylesheet">
	{% endblock extra_css_script %}
{% block content %}
<div class="CartContainer">
	<div class="Header">
	<h3 class="Heading">Cart</h3>
	<a href="{% url 'menu' %}" class = "back"><h5 class="Action">Back to Menu <i class='bx bxs-food-menu'></i></h5></a>
	</div>

	{% for cart_item in cart_items %}
	<div class="Cart-Items">
		<div class="image-box">
		<img src="{% static 'food.png' %}" alt="" class="menu__img">
		</div>
		<div class="about">
		<h1 class="title"> {{ cart_item.item.name }}</h1>
		<h3 class="subtitle"> {{ cart_item.item.description }} </h3>
		</div>
		<div class="counter">
		<!--increase button-->
		<form method="POST" action={% url 'cart' %}>
			{% csrf_token %}
			<input type="hidden" name="item_id" value={{ cart_item.item.id }}>
			<input type="hidden" name="action" value='increase'>
			<button type="submit" class='btn'>+</button>
		</form>
		<div class="count">{{ cart_item.quantity }}</div>
		<!--decrease button-->
		<form method="POST" action={% url 'cart' %}>
			{% csrf_token %}
			<input type="hidden" name="item_id" value={{ cart_item.item.id }}>
			<input type="hidden" name="action" value='decrease'>
			<button type="submit" class='btn'>-</button>
		</form>
		</div>

		<div class="prices">
		<div class="amount">${{ cart_item.item.price }}</div>
		<!--Remove button-->
		<form method="POST" action={% url 'cart' %}>
			{% csrf_token %}
			<input type="hidden" name="item_id" value={{ cart_item.item.id }}>
			<input type="hidden" name="action" value='remove'>
			<button type="submit" class='remove'><i class='bx bxs-trash-alt'></i></button>
		</form>
		</div>
	
	</div>
	{% endfor %}

	<!-- <hr> -->
	{% if cart_items %}
	<div class="checkout">
		<div class="total">
			<div>
				<div class="Subtotal">Total:</div>
			</div>
			<div class="total-amount">${{ total }}</div>
		</div>
		<!--Submit form-->
		<form method='POST', action={% url 'place_order' %}>
			{% csrf_token %}
			<input type="submit" value="Order Now" class="button">
		</form>
	</div>
	{% else %}
		<p class="title" style="text-align: center">Your cart is empty!</p>
	{% endif %}
</div>
{% endblock content %}
