{% extends "base.html" %}
{% load static %}
{% block title %}Menu{% endblock %}
{% block content %}
{% include "header.html" %}

<!--========== SCROLL TOP ==========-->
<a href="#" class="scrolltop" id="scroll-top">
    <i class='bx bx-chevron-up scrolltop__icon'></i>
</a>

<!-- ========== MENU ==========-->
<section class="menu section bd-container" id="menu">
    <h2 class="section-title">Menu</h2>

    <!-- SEARCH BOX -->
    <div class="search-box">
        <form action="{% url 'menu' %}" method="GET">
            <button class="btn-search" type="submit"><i class='bx bxs-search'></i></button>
            <input type="text" class="input-search" name='search' placeholder="Search.." value="{{ search_query }}">
        </form>
      </div>
    <!-- SEARCH BOX ENDS -->

    <!-- ========== ITEMS ==========-->
    <div class="menu__container bd-grid">
    {% if items %}
    {% for item in items %}
        <div class="menu__content">
            <img src="{% static "food.png" %}" alt="{{ item.name }}" class="menu__img">
            <h3 class="menu__name">{{ item.name }}</h3>
            <span class = "menu_detail"> {{ item.description }} </span>
            <span class="menu__price">${{ item.price }}</span>
            <form method="POST" action="{% url 'menu' %}">
                {% csrf_token %}
                <input id="selected_item" name="selected_item" type="hidden" value="{{ item.id }}">
                <input type="submit" value="Add" class="button menu__button">
            </form>
        </div>
    {% endfor %}
    {% else %}
        <p>Nothing to show here...</p>
    {% endif %}
    </div>
    
</section>
<!-- ========== MENU ENDS ==========-->
{% include "footer.html" %}
{% endblock %}
