{% extends "base.html" %}
{% load static %}
{% block title %}Menu{% endblock %}
{% block content %}
{% include "header.html" %}
<body>
    <!--========== SCROLL TOP ==========-->
    <a href="#" class="scrolltop" id="scroll-top">
        <i class='bx bx-chevron-up scrolltop__icon'></i>
    </a>

<!-- ========== MENU ==========-->
<section class="menu section bd-container" id="menu">
    <h2 class="section-title">Menu</h2>

    <!-- SEARCH BOX -->
    <div class="search-box">
        <button class="btn-search"><i class='bx bxs-search'></i></button>
        <input type="text" class="input-search" placeholder="Search..">
      </div>
    <!-- SEARCH BOX ENDS -->

    <!-- ========== ITEMS ==========-->
    <div class="menu__container bd-grid">

        {% comment %} {% for item in items %}
        <div class="menu__content">
            <img src="{{ url_for('static', filename = 'styles/img/'+item.source) }}" alt="" class="menu__img">
            <h3 class="menu__name">{{ item.name }}</h3>
            <span class = "menu_detail"> {{ item.description }} </span>
            <span class="menu__price">₹{{ item.price }}</span>
            <form method = 'POST'>
                {{ add_form.hidden_tag() }}
                <input id="selected_item" name="selected_item" type="hidden" value="{{ item.name }}">
                {{ add_form.submit(class = 'button menu__button') }}
            </form> {% endcomment %}
            <div class="menu__content">
                <p>Not implmented yet.</p>
            </div>

        </div>
        {% comment %} {% endfor %} {% endcomment %}

    </div>
</section>
<!-- ========== MENU ENDS ==========-->

</body>
</html>
{% include "footer.html" %}
{% endblock %}
