{% extends "base.html" %}
{% load static %}
{% block title %}Table Reservation{% endblock title %}
{% block content %}
{% include "header.html" %}
<!--========== SCROLL TOP ==========-->
<a href="#" class="scrolltop" id="scroll-top">
  <i class='bx bx-chevron-up scrolltop__icon'></i>
</a>

<section class="menu section bd-container" id="menu">

<h1 class="section-title"> Available Tables </h1>

</section>

<!-- TABLE STARTS -->
<table>
  <thead id="table-header">
    <tr>
        <th>Table</th>
        <th>Time</th>
        <th>Date</th>
        <th>Accomodation</th>
        <th></th>
    </tr>
    </thead>
    
    <tbody>
    {% for slot in slots %}
        <tr>
            <td>{{ slot.table }}</td>
            <td>{{ slot.time|time:"H:i" }}</td>
            <td>{{ slot.date }}</td>
            <td>{{ slot.accommodation }}</td>
            <td>
                <form method='POST' action="{% url 'reserve' %}">
                    {% csrf_token %}
                    <input name="date" type="hidden" value="{{ slot.date|date:"Y-m-d" }}">
                    <input name="time" type="hidden" value="{{ slot.time|time:"H:i" }}">
                    {% if slot.is_user_reservation %}
                        <input class='button' type="submit" value="Reserved for you" disabled>
                    {% elif slot.is_reserved %}
                        <input class='button' type="submit" value="Reserved" disabled>
                    {% else %}
                        <input class='button' type="submit" value="Reserve">
                    {% endif %}
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<!-- TABLE ENDS -->
{% include "footer.html" %}
{% endblock content %}