{% extends "base.html" %}
{% load static %}
    {% block title %}Delivery tracking{% endblock title %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  
  {% block content %}
  {% include "header.html" %}
  <!--========== SCROLL TOP ==========-->
  <a href="#" class="scrolltop" id="scroll-top">
      <i class='bx bx-chevron-up scrolltop__icon'></i>
  </a>
    <section class="contact section orderinfo-container" id="contact">
    <p><h1>Your order is on the way!</h1></p>
    </section>
    {% include "footer.html" %}
    {% endblock content %}
